<a href= "/announcements" style="float: left; font-size: 18px;">Back</a>
<h1 style="color: goldenrod; margin-top: 80px; margin-bottom: 50px;"><%= announcement['title'] %></h1>

<img style="width: 550px;" class="ann_image" src="<%= announcement['image_url'] %>" alt="">

<p class="ann_content" style="height: 425px; width: 600px; margin: 0 auto; padding-top: 50px;"><%= announcement['content'] %></p>

<form action="/get_announcement/<%= announcement['id'] %>" method="post">
    <input type="hidden" name="announcement_id" value="<%= announcement['id'] %>">
    <input type="hidden" name="_method" value="delete">
    
    <button>Remove</button>
</form>


<a href="/get_announcement/<%= announcement['id'] %>/edit">Edit</a>

