<br>
<img class="logo" src="media/logo.png" alt="">

<%# <form action="">
    <input class="cryptoSearch" type="text">
    <button class="cryptoSearchButton">Search</button>
</form>
<script>
    let cryptoSearch = document.querySelector('.cryptoSearch');
    let cryptoSearchButton = document.querySelector('.cryptoSearchButton');

    cryptoSearchButton.addEventListener('keyup', event => {

        const searchString = event.target.value.toLowerCa
        axios.get(`/crypto_details?cryptocurrency=${cryptoSearch.value}`)
    })
</script> %>


<span class="variables">
    <p> </p>
    <p>Rank</p>
    <p>Name</p>
    <p>Current price (USD)</p>
    <p>24 hour high</p>
    <p>24 hour low</p>
    <p>Change (hour)</p>
    <p>Change (day)</p>
    <p>24 hour change</p>
    <p>24 hour Volume</p>
    <p>Market cap</p>
</span>

<% i = 1 %>
<% cryptos.each do |crypto|%>

<span class="crypto">

    <% if crypto['DISPLAY'] && crypto['DISPLAY']['USD'] && crypto['DISPLAY']['USD']['IMAGEURL'] %>
        <img src="https://www.cryptocompare.com/<%= crypto['DISPLAY']['USD']['IMAGEURL'] %>" alt="">
    <% end %>

    <p class="index"><%= i %></p>

    <% if crypto['CoinInfo'] && crypto['CoinInfo']['FullName'] && crypto['CoinInfo']['Name'] %>
        <a class="details_link" href="/crypto_details?cryptocurrency=<%= crypto['CoinInfo']['Name'] %>"</a>
            <p><%= crypto['CoinInfo']['FullName'] %> (<%= crypto['CoinInfo']['Name'] %>)</p>
        </a>
    <% end %>

    <% if crypto['DISPLAY'] && crypto['DISPLAY']['USD'] && crypto['DISPLAY']['USD']['PRICE'] %>
        <p><%= crypto['DISPLAY']['USD']['PRICE'] %></p>
    <% end %>

    <% if crypto['DISPLAY'] && crypto['DISPLAY']['USD'] && crypto['DISPLAY']['USD']['HIGH24HOUR'] %>
        <p><%= crypto['DISPLAY']['USD']['HIGH24HOUR'] %></p>
    <% end %>

    <% if crypto['DISPLAY'] && crypto['DISPLAY']['USD'] && crypto['DISPLAY']['USD']['LOW24HOUR'] %>
        <p><%= crypto['DISPLAY']['USD']['LOW24HOUR'] %></p>
    <% end %>

    <% if crypto['RAW'] && crypto['RAW']['USD'] && crypto['RAW']['USD']['CHANGEHOUR'] %>
        <% hour_change = crypto['RAW']['USD']['CHANGEHOUR'].round(5) %>
        <% if hour_change > 0 %>
            <p class="hour_change" style="color: #14e715;"> $ <%= hour_change %> </p>
        <% elsif hour_change < 0 %>
            <p class="hour_change" style="color: red;"> $ <%= hour_change %> </p>
        <% else %>
            <p class="hour_change" style="color: white;"> $ <%= hour_change %> </p>
        <% end %>
    <% end %>

    <% if crypto['RAW'] && crypto['RAW']['USD'] && crypto['RAW']['USD']['CHANGEDAY'] %>    
        <% day_change = crypto['RAW']['USD']['CHANGEDAY'].round(5) %>
        <% if day_change > 0 %>
            <p class="day_change" style="color: #14e715;"> $ <%= day_change %> </p>
        <% elsif day_change < 0 %>
            <p class="day_change" style="color: red;"> $ <%= day_change %> </p>
        <% else %>
            <p class="day_change" style="color: white;"> $ <%= day_change %> </p>
        <% end %>
    <% end %>

    <% if crypto['RAW'] && crypto['RAW']['USD'] && crypto['RAW']['USD']['CHANGEPCT24HOUR'] %>    
        <% daily_change = ((crypto['RAW']['USD']['PRICE'] / crypto['RAW']['USD']['OPEN24HOUR'] * 100).round(2) - 100).round(2) %>
        <% if daily_change > 0.01 %>
            <p class="percentage" style="color: #14e715;"><%= daily_change %> %</p>
        <% elsif daily_change < 0 %>
            <p class="percentage" style="color: red;"><%= daily_change %> %</p>
        <% else %>
            <p class="percentage" style="color: white;"> <%= daily_change %> %</p>
        <% end %>
    <% end %>
    
    <% if crypto['DISPLAY'] && crypto['DISPLAY']['USD'] && crypto['DISPLAY']['USD']['TOTALVOLUME24HTO'] %>
        <p><%=crypto['DISPLAY']['USD']['TOTALVOLUME24HTO']%></p>  
    <% end %>

    <% if crypto['DISPLAY'] && crypto['DISPLAY']['USD'] && crypto['DISPLAY']['USD']['MKTCAP'] %>
        <p><%=crypto['DISPLAY']['USD']['MKTCAP']%></p>
    <% end %>

    <% i += 1 %>
</span>

<% end %>
